<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Добавление книги</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../public/style.css">
    <script th:src="@{/script.js}" src="../public/script.js"></script>
</head>
<body>

<div id="page">
    <form id="create-form" th:action="@{/book/save}" method="post" action="view.html">
        <h3>Информация о книге:</h3>

        <div class="row">
            <label for="holder-input">Название:</label>
            <input id="holder-input" name="name" type="text"/>
        </div>

        <div id="genres" class="row">
            <label>Жанры:</label>
            <a onclick="addField('genres', this)" href="#">Добавить</a>
        </div>

        <div id="authors" class="row">
            <label>Авторы:</label>
            <a onclick="addField('authors', this)" href="#">Добавить</a>
        </div>

        <div class="row">
            <label for="summary-input">Описание:</label>
            <div>
                <textarea id="summary-input" name="summary"></textarea>
            </div>
        </div>

        <div class="row">
            <button type="submit">Сохранить</button>
        </div>
    </form>

    <div>
        <a href="/list.html" th:href="@{/}">Отмена</a>
    </div>
</div>

</body>
</html>
