<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Электронная библиотека</title>
    <link rel="stylesheet" th:href="@{/style.css}" href="../public/style.css">
</head>
<body>

<div id="page">
    <h2>Библиотека:</h2>

    <div>
        <a th:href="@{/book/create}">Добавить книгу</a>
    </div>

    <div id="books">
        <div th:each="book : ${books}" }>
            <h3 th:text="${book.name}">Название</h3>
            <a href="view.html" th:href="@{/book/view(id=${book.id})}">Подробнее</a>
            <p th:text="${book.summary}">Много букв</p>
            <hr>
        </div>
    </div>
</div>

</body>
</html>